sdfjcsds/SumService.wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://WS.soapcxfproject.evry.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SumWSService" targetNamespace="http://WS.soapcxfproject.evry.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WS.soapcxfproject.evry.com/" elementFormDefault="unqualified" targetNamespace="http://WS.soapcxfproject.evry.com/" version="1.0">

  <xs:element name="CalculateSum" type="tns:CalculateSum"/>

  <xs:element name="CalculateSumResponse" type="tns:CalculateSumResponse"/>

  <xs:complexType name="CalculateSum">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:SumRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SumRequest">
    <xs:sequence>
      <xs:element name="num1" type="xs:int"/>
      <xs:element name="num2" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CalculateSumResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="response" type="tns:SumResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SumResponse">
    <xs:sequence>
      <xs:element name="result" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="CalculateSumResponse">
    <wsdl:part element="tns:CalculateSumResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CalculateSum">
    <wsdl:part element="tns:CalculateSum" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SumWS">
    <wsdl:operation name="CalculateSum">
      <wsdl:input message="tns:CalculateSum" name="CalculateSum">
    </wsdl:input>
      <wsdl:output message="tns:CalculateSumResponse" name="CalculateSumResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SumWSServiceSoapBinding" type="tns:SumWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CalculateSum">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CalculateSum">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CalculateSumResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SumWSService">
    <wsdl:port binding="tns:SumWSServiceSoapBinding" name="SumWSPort">
      <soap:address location="http://localhost:8080/SpringX-Soap-CXF-Project/services/SumService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>